rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return isAuthenticated() && (request.auth.token.email == 'franny.lee@gmail.com' || request.auth.uid == 'eD4wKO4EIxQ3CAHzdx6q9N2s4Jf2');
    }

    function isOwner(emailId) {
      return isAuthenticated() && request.auth.token.email == emailId;
    }

    match /users/{emailId} {
      allow read, write: if isOwner(emailId) || isAdmin();
      
      match /workouts/{workoutId} {
        allow read, write: if isOwner(emailId) || isAdmin();
      }
    }
    
    match /workoutTemplates/{templateId} {
      allow read, write: if request.auth != null;
    }
    
    // Allow the connection test to succeed for anyone
    match /test/connection {
      allow read: if true;
    }
  }
}
